.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    padding-bottom: 52px;
    margin: 0;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
/* shared style */
.logo-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     font-weight: bold;
     padding: 12px 36px;
}
.btn-primary:hover{
    background-color: white;
    color: #4E47FF;
    cursor: pointer;
}     

/* banner style */
.banner{
    text-align: center;
    margin: 150px 267px;

}
h3{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
main{
    background-color: rgba(245, 248, 255, 1);
    /* max-width: 100%; */
    /* background-size: cover; */
    margin-top: 0px;
    
}
/* action styes */
.action{
    display: flex;
    justify-content: space-between;
    /* margin: 116px 150px; */
    gap: 220px;
    margin-top: 0px;
    padding:116px 150px ;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    color: #252432;
    font-size: 24px;
    font-weight: 400;
}
.action-img{
    border-radius: 48px;
}
/* productive-user styles */
.productive-user{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1270px;
    border-radius: 24px;
    padding: 20px;
    margin: 20px auto;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    
}
.number{
    display: flex;
    gap: 158px;
    justify-content: center;
   margin-bottom: 50px;
}
.numbers-title{
    font-weight: bold;
    font-size: 80px;
    margin: 0px 0px;
    margin-bottom: 5px;
} .numbers-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
/* user rating styles */
.user-ratings{
    margin: 137px 150px 115px;
}
.user-rating-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.user-rating{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.user-rating-card{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.5);
}
.rating-card-heading{
    font
}
.user-profile{
    display: flex;
    padding: 24px;
}
.profile-pic{
    border-radius: 9999px;
    padding: 12px;
}
.profile-name{
    color: rgba(117, 117, 117, 1);
    margin: 0px 6px 6px;
    
}
.date{
    color: rgba(179, 179, 179, 1);
    margin-left: 5px; 
    
}
/* newsletter styles */
.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
    margin: 92px 150px 12px;
}
.newsletter-heading{
    font-size: 97px;
    font-weight: bold;
    padding: 200px 0px;
}
section input[type="email"],section input[type="text"],section textarea, section .newsletter-btn{
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    height: 64px;
    width: 100%;
        color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    margin-top: 6px;
}
section .newsletter-btn{
    color:white ;
}
section label{
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
    padding: 5px;

}
/* footer style */
footer{
    text-align: center;
    margin: 104px 455px;
}
footer ul{
    display: flex;
    justify-content: center;

}
footer ul li{
    list-style: none;
    
}
footer ul a{
    text-decoration: none;
    color: #8987A1;
    margin-right: 48px;

}
footer p{
    color: #8987A1;
    margin-bottom: 22px;
}
.logo-title{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 6px;
}
